@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import "compass/reset/utilities";

@import 'reset';
@import 'base';
@import 'common';

$font-size: 14;
$em: $font-size / 1em;

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  position: fixed;
  width: 100%;
  -ms-word-break: break-all;
  word-break: break-all;
  // Non standard for webkit
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

header {
  @include border-radius(.5em);
  @include single-transition(all, .4s, 'ease-in-out');
  @include smallshadow;
  @include transform-origin(50%, 0);
  background: white;
  left: 0;
  margin-top: 2.5em;
  padding: 2.5em 2em 1em;
  position: absolute;
  width: 100%;
  z-index: 4;

  a {
    cursor: pointer;
    font-size: .9em;
    text-decoration: underline;
  }

  a.close {
    color: $gray;
    position: absolute;
    left: 1em;
    top: 1.5em;

    img {
      height: .9em;
      width: .9em;
      margin-right: .3em;
    }
  }

  form {
    button[name^="forgot"] {
      @include box-shadow(none);
      @include reset-box-model;
      float: right;
      font-size: .9em;
      color: $link-color;
      text-decoration: underline;
      text-shadow: none;

      &:hover {
        background: none;
        color: $link-color-hover;
      }
    }
  }

  section {
    clear: both;
    & > div {
      display: inline-block;
      width: 50%;
    }
    & > form { width: 100%; }
  }

  .right {
    float: right;
    text-align: right;
  }

  &.hyp-collapsed {
    @include rotateX(90deg);
    opacity: 0;
  }
}

html {
  font-size: $font-size / 16 * 1em;
}

input { width: 100%; }
svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/* Annotator styles */

.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  left: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
  cursor: pointer;
}

//HEATMAP TABS
//Randall- When you integrate these, let me know so that I can tweak them by hand into the real css. Complex arithmetic and variables do not result in an acceptable level of quality. The decimal pixel values are to force the browsers into higher precision. Also, if you change the font, I will have to readjust them as well, so let me know.
.hyp-heatmap-tab {
  @include user-select(none);
  color: rgb(238, 238, 238);
  cursor: pointer;
  left: 0px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  .svg {
    width: 100%;
    height: 100%;
  }
  .tab {
    fill: #666;
    stroke: black;
  }

  .insert {
    fill: #FFEA00;
    stroke: black;
  }

  .label {
    font-weight: 600;
    font-size: 13.1px;
    position: absolute;
  }


//ONLY INSERT EMPH
  &.emphasis {
    .insert {
      visibility: visible;
    }
  }

  &.lower, &.upper {
    width: 33.1px;
    height: 26.1px;
    .label {
      width: 100%;
    }
  }

  &.upper {
    .label {
      bottom: 1px;
    }
  }

//FLIPPING ANIM ONE
  &.side.one {
    @include transition-property(transform, left);
    @include transition-duration(.5s, .2s);
    @include perspective(100px);
    left: -7px;
    height: 20.1px;
    width: 40.1px;
    .label {
      @include single-transition(transform, .5s);
      left: 10px;
      right: 2px;
      position: absolute;
      bottom: 1px;
    }
    &.flip {
      @include rotateY(180deg);
      .label {
        @include rotateY(180deg);
      }
      &:hover {
        @include rotateY(180deg);
        .label {
          @include rotateY(180deg);
        }
      }
    }
    &:hover {
      left: -5px;
    }
  }



//FLIPPING ANIM 2
  &.side.two {
    @include transition-property(transform, left);
    @include transition-duration(.5s, .2s);
    @include perspective(100px);
    left: -7px;
    height: 20.1px;
    width: 40.1px;
    .label {
      left: 10px;
      right: 2px;
      position: absolute;
      bottom: 1px;
    }
    &.flip {
      @include rotate(180deg);
      .label {
        @include rotate(180deg);
        bottom: 1px;
      }
      &:hover {
        left: -7px;
      }
    }
    &:hover {
      left: -5px;   
    }
  }
}


#gutter {
  height: 100%;
  margin-left: $heatmap-width - 10px;
  position: relative;
}

.wrapper {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  height: 100%;
  overflow: auto;
  padding: 3em 1em 1em 1em;
  position: absolute;
}

#persona {
  select {
    cursor: pointer;
  }
}

//H BAR
#toolbar {
  @include clearfix;
  @include smallshadow;
  background: white;
  border: 1px solid $gray-lighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: table;
  left: 1px;
  margin-top: .5em;
  padding-right: 1em;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 5;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }


  .tab {
    @include icon("tri-left.png");
    float: left;
    width: 1.7em;
    height: 1.7em;
    margin-top: .3em;
    margin-left: .2em;
    margin-bottom: .4em;
    cursor: pointer;
  }

  &.shown {
    .tab {
      @include icon("tri-right.png");

    }
  }
}


//FAKEADJUSTMENTS

.annotator-heatmap {
  position: absolute;
}

.hyp-heatmap-tab {
  position: absolute;

  // &.upper {
  //   top: 50px;
  // }
  &.lower {
    bottom: 5px;
  }
}

#wrapper1 {
  @include transition-property(padding-left);
  @include transition-duration(.3s);
  @include transition-timing-function(cubic-bezier(0.950, 0.050, 0.795, 0.035));
  padding-right: 1em;
  &.compressed {
    padding-left: .5em;
    padding-right: 1em;
    // @include transition-property(padding-left);
    // @include transition-duration(.3s);
    // @include transition-timing-function(cubic-bezier(0.035, 0.795, 0.050, 0.950));

  }
}

#frametopper {
  @include background-image(
    linear-gradient(top, rgb(55, 55, 55) 0%, rgb(15, 15, 15) 100%));
  width: 100%;
  height: 30px;
  color: #ddd;
  font-weight: 600;
  border-bottom: 1px solid $gray;
  a {
    color: #ddd;
    font-weight: 600;
    float: right;
  }
}

#mainiframe {
  width: 100%;
  height: 100%;
}

#wrapper2 {
  @include transition-property(right);
  @include transition-property(left);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-out);

  border-left: 1px solid $gray-lighter;
  @include box-shadow(0px -10px 9px -5px $gray);
  overflow-x: hidden;
  overflow-y: scroll;
}

#frametopper {
  z-index: 100;
}

.framebutton {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
  display: inline-block;
  height: 100%;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .25em;
  position: relative;
  display: inline-block;
  cursor: pointer;
  & * {
    text-decoration: none;
  }
  &.right {
    float: right;
    border-right: none;
  }
  &.left {
    float: left;
    border-left: none;
  }
  &.pointy {
    &:after {
      @include rotate(45deg);
      @include background-image(
        linear-gradient(top left, rgb(55, 55, 55) 0%, rgb(15, 15, 15) 100%));
      border-top: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      content: "";
      display: block;
      height: 7px;
      position: absolute;
      right: -4px;
      top: 10px;
      width: 7px;
    }
    &:hover {
      &:after {
        @include background-image(
          linear-gradient(top left, rgb(75, 75, 75) 0%, rgb(75, 75, 75) 45%, rgb(0, 0, 0) 55%, rgb(0, 0, 0) 100%));          
      }
    }
  }
  &:hover {
    @include background-image(
      linear-gradient(top, rgb(15, 15, 15) 0%, rgb(75, 75, 75) 48%, rgb(0, 0, 0) 52%, rgb(25, 25, 25) 100%));  
  }
}

.frameclose {
  @include linkbutton-right;
  background-image: url("/images/delete_white.png");
}

#pageframe {
  z-index: -2;
  overflow: hidden;
}