.annotator-frame
  #toolbar.shown{:style => "top: 0px;"}
    .tab
  #gutter
    #wrapper2.wrapper.out
      .hyp-paper You have followed a link to an annotation. If you had the hypothes.is extension installed, the experience would be better. <a>Install it here</a>.  Or read <a>more about why</a>.
      %div(ng-controller='DetailList')
        %dview(node="root")