- content_for :head do
  %title Craigslist, 3taps &amp; The Court Battle For The Soul Of Public Data

#frametopper
  readwriteweb.com - Craigslist, 3taps &amp; The Court Battle For The Soul Of Public Data
  %a(href="http://www.readwriteweb.com/archives/craigslist-3taps-the-court-battle-for-the-soul-of-public-data.php") close frame
#pageframe
  %iframe#mainiframe(src="http://www.readwriteweb.com/archives/craigslist-3taps-the-court-battle-for-the-soul-of-public-data.php")
  = partial "sidebar.haml"