- content_for :head do
  %title Structure, function and diversity of the healthy human microbiome :  Nature :  Nature Publishing Group
#frametopper
  .framebutton.pointy.left(style="z-index: 3;")
    %span hypothes<span class="brightred">.</span>is
  .framebutton.left.pointy(style="z-index: 2;")
    %a nature.com
  .framebutton.left
    %a Structure, function and diversity of the healthy human microbiome :  Nature :  Nature Publishing Group
  .framebutton.right
    %a.frameclose(href="http://www.nature.com/nature/journal/v486/n7402/full/nature11234.html") remove frame
#pageframe
  %iframe#mainiframe(src="http://www.nature.com/nature/journal/v486/n7402/full/nature11234.html")
  = partial "sidebar.haml"