- content_for :head do
  %title Wikipad: The New Tablet/Game Console
#frametopper
  readwriteweb.com - Wikipad: The New Tablet/Game Console
  %a(href="http://www.readwriteweb.com/archives/wikipad-the-new-tablet-game-console.php") remove frame
#pageframe
  %iframe#mainiframe(src="http://www.readwriteweb.com/archives/wikipad-the-new-tablet-game-console.php")
  = partial "sidebar.haml"